@use '../../scss/' as *;

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 0 0; }
}

.image-about{
    box-shadow: $box-shadow;
    transform:rotate(10deg);
}
.image-about-wraper{
    &::after     {
        content: "";
        position: absolute;
        top: 0;
        display: flex;
        z-index: 0;
        width: 70%;
        height: 100%;
        border-radius:20px;
        background: linear-gradient(135deg, #5b76b8, #1f3c6b);
        transform:rotate(0);
        box-shadow: $box-shadow-light;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        display: flex;
        z-index: 1;
        width: 70%;
        height: 100%;
        border-radius:20px;
        background: linear-gradient(135deg, #14336e, #1f3c6b);
        box-shadow: $box-shadow;
        transform:rotate(5deg);
    }
}